html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Global Styling */

body {
    color: #0b0c10;
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #FCFCFC;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h3 {
    font-family: 'Playfair Display', serif;
}

.content-wrap {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0px;
}


/* Navigation */


/* Add css from codepen https://codepen.io/alvarotrigo/pen/MWEJEWG */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0b0c10;
    height: 70px;
    padding: 16px 32px;
}

.links {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    max-width: 750px;
    width: 85%;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.links>li {
    padding: 5px;
    overflow: hidden;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #FCFCFC;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.navbar a,
.links a {
    padding: 10px 20px;
    display: inline;
}

.navbar a:hover,
.links a:hover {
    background-color: #66fcf1;
    color: #0b0c10;
}


/* button */

.btn {
    background-color: #66fcf1;
    color: #0b0c10;
    border: none;
    border-radius: 5px;
    padding: 9px 18px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0b0c10;
    color: #66fcf1;
}


/* footer styling */

footer {
    text-align: center;
}

footer {
    background: #0b0c10;
    color: #FCFCFC;
}

footer a {
    padding: 5px 0px;
    color: #66fcf1;
}

footer p {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

footer a:hover {
    color: rgba(102, 252, 241, 80%);
}

.contact-list ul {
    margin-top: 0px;
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    display: inline-block;
}


/* home page */

.content-part1 {
    display: flex;
    flex-direction: column;
}

.part1-div2 {
    position: relative;
    order: 0;
    margin: auto;
}

.part1-div1 {
    order: 1;
}

@keyframes sliders {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.back-slider {
    background-color: #0b0c10;
}

#slider {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 15s sliders ease-in-out 0.5s infinite;
}


/* ride page */

.black {
    background-color: #0b0c10;
    height: 240px;
    width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cardssection {
    width: 100%;
}

.allcards {
    padding: 16px 0px;
    margin: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    box-sizing: border-box;
    width: 320px;
    max-width: fit-content;
    margin-bottom: 48px;
}


/* max-width:749px */

@media screen and (min-width:750px) {
    .contact-list {
        display: flex;
        justify-content: space-between;
    }
}


/* Add css from codepen https://codepen.io/alvarotrigo/pen/MWEJEWG */

@media screen and (max-width:749px) {
    /* Global Styling */
    /* Navigation */
    .menu-button-container {
        display: flex;
    }
    .links {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    #menu-toggle~.links li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.links li {
        border: 1px solid #FCFCFC;
        height: 100%;
        width: 100%;
        display: block;
        padding: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .links li a {
        display: block;
        text-align: center;
        padding: 15px;
    }
    .links>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 8px 0;
        width: 100%;
        color: #FCFCFC;
        background-color: #0b0c10;
    }
    .links>li:not(:last-child) {
        border-bottom: 1px solid #FCFCFC;
    }
}

@media screen and (min-width:1024px) {
    /* home */
    .content-part1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .part1-div1 {
        order: 0;
    }
    .part1-div2 img {
        margin-left: 24px;
        width: 560px;
        height: 315px;
    }
    /* ride */
    .allcards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .part1-div2 {
        width: 70%;
    }
}